# NPM specific
/node_modules
package-lock.json
npm-debug.log
yarn-error.log

# Build
/.cache
/dist

# Docker
docker-compose.override.yaml
docker-compose.override.yml

# Apostrophe CMS
/src/config/local.js
